h3 {
    grid-area: title;
}
h4 {
    grid-area: date;
    text-align: right;
}
p {
    grid-area: post;
}
.post-title {
    color: #4d4d4d;
    text-decoration: none;
    font-weight: 500;
}
.post-title:hover {
    background-color: #4d4d4d;
    color: white;
}
.post-date {
    font-weight: 300;
}